{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    {% if category %}
        <h2>{{ category }}</h2>
    {% endif %}

    {% for object in object_list %}
        <div class="panel panel-default">
            <div class="panel-heading"><a
                    href="{% url "post" object.id %}"><b>{{ object.title }}</b></a>
            </div>
            <div class="panel-body">
                {{ object.content|linebreaks }}
                <hr/>
                {{ object.published_at|timesince }} |
                Priority: {{ object.get_priority_display }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
