{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
    {% if object.poster %}
        <img src="{{ object.poster.url }}"/>
    {% endif %}
<p>{{ object.content|linebreaks }}</p>

<hr/>

    {% if user.is_authenticated %}
        <form class="unfav{% if starred %} hide{% endif %}" method="POST" action="{% url "mark-unfav" object.id %}">
            {% csrf_token %}
            <button class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-star"></span> Remove Star
            </button>
        </form>
        <form class="fav{% if not starred %} hide{% endif %}" method="POST" action="{% url "mark-fav" object.id %}">
            {% csrf_token %}
            <button class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-star-empty"></span> Star
            </button>
        </form>
        <hr/>
    {% endif %}



{% endblock %}

{% block scripts %}
    <script src="{% static "blog/post.js" %}"></script>
{% endblock %}
